[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ip2location"]
	path = ip2location
	url = https://github.com/ip2location/ip2location-r
	shallow = true
	registered = true
[submodule "ip2proxy"]
	path = ip2proxy
	url = https://github.com/cran/ip2proxy
	shallow = true
	registered = true
